// sec-visual--------------------------------------------------------------------------
.sec-visu {
  .vd {
    position: relative;
    object-fit: cover;
  }

  .big-tit {
    position: absolute;
    top: 43%;
    @include visu-tit;
    text-align: center;
    width: 100%;
  }

  .pause-btn {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 62px;
    height: 62px;
    background: rgb(0, 0, 0, 0.4);
    border: 2px solid $gray6;
    border-radius: 50%;
  }

  .pause {
    color: $txtDefult-w;
  }
}

// sec-about--------------------------------------------------------------------------
.sec-about {
  height: 600px;

  .inner {
    position: relative;
  }

  .about-wrap {
    @include posXY;
    text-align: center;
    width: 100%;
  }

  .content {
    @include con26;
    padding-top: 40px;
  }
  .con {
    display: block;

    &:nth-child(2) {
      padding-top: 8px;
    }
  }
}

// sec- per--------------------------------------------------------------------------
.sec-per {
  .per-wrap {
    padding-top: 100px;
  }

  .vd-wrap {
    position: relative;

    .vd {
      opacity: 0.6;
      border-radius: 20px;
      object-fit: cover;
    }
    .txt-wrap {
      @include posXY;
      text-align: center;
      z-index: 100;
    }

    .count {
      @include sub-tit;
    }
    .content {
      padding-top: 10px;
      color: $txtDefult-sub2;
    }

    .con {
      display: block;
    }
  }

  .img-wrap {
    display: flex;
    gap: 40px;
    padding-top: 40px;

    .img1,
    .img2 {
      position: relative;
    }

    .img {
      position: relative;
      opacity: 0.6;
      border-radius: 20px;
    }
    .txt-wrap {
      @include posXY;
      text-align: center;
    }

    .count {
      @include sub-tit2;
    }
    .content {
      padding-top: 10px;
      color: $txtDefult-sub2;
    }
  }
}

// --------------------------------------------------------------------------
.sec-meta {
  .inner {
    padding: 150px 0 100px;
  }

  .vd-wrap {
    position: relative;

    .vd {
      opacity: 0.6;
      object-fit: cover;
      width: 100%;
      height: 100vh;
    }
    .txt-wrap {
      @include posXY;
      text-align: center;
      z-index: 100;
    }

    .sub-tit {
      @include sub-tit;
    }
    .content {
      padding-top: 10px;
      color: $txtDefult-sub2;
    }

    .con {
      display: block;
    }

    .pause-btn {
      position: absolute;
      bottom: 60px;
      right: 60px;
      width: 62px;
      height: 62px;
      background: rgb(0, 0, 0, 0.4);
      border: 2px solid $gray6;
      border-radius: 50%;
    }

    .pause {
      color: $txtDefult-w;
    }
  }

  .inner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 150px;

    .list-wrap {
      display: flex;
      justify-content: center;
      gap: 126px;
    }

    .icon {
      font-size: 64px;
    }
    .sub-tit {
      display: block;
      padding-top: 20px;
      @include sub-tit3;
    }
    .content {
      padding-top: 10px;
      color: $txtDefult-sub2;
      width: 270px;
    }

    .btn-more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      margin-top: 100px;
      padding: 6px 6px 6px 24px;
      border-radius: 50px;
      background: $bg-w;
    }

    .icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: $primary;
      width: 40px;
      height: 40px;
    }

    .add {
      color: $txtDefult-w;
    }
  }
}

// --------------------------------------------------------------------------
.sec-prod {
  .sub-tit {
    @include sub-tit2;
    color: $primary;
  }

  .tit-wrap {
    margin-bottom: 100px;
  }

  .white,
  .gray {
    display: block;
  }

  .vd {
    border-radius: 20px;
    object-fit: cover;
  }

  .content {
    padding-top: 40px;
    text-align: center;
  }

  .btn-box {
    display: flex;
    justify-content: center;
  }

  .btn-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
    padding: 6px 6px 6px 24px;
    border-radius: 50px;
    background: $bg-w;
  }

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: $primary;
    width: 40px;
    height: 40px;
  }

  .add {
    color: $txtDefult-w;
  }
}
