@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0 auto;

  ::selection {
    background-color: $primary; // 선택한 텍스트의 배경색을 빨간색으로 설정
  }
}
//---------------------------------------------------------------------------------
.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}
//---------------------------------------------------------------------------------
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  font-size: 14px;
  background: $bg;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  transition: all 0.3s;

  .inner {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 1280px) {
      max-width: 768px;
    }

    @media screen and (max-width: 768px) {
      max-width: 328px;
    }
  }

  .hd-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 0 80px;

    @media screen and (max-width: 1280px) {
      justify-content: space-between;
      padding: 0 24px;
    }
  }

  .lg-img {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1280px) {
      width: auto;
      height: 15px;
    }
  }

  #nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1280px) {
      display: none;
    }

    .nav {
      display: flex;
      gap: 24px;
    }
    .nav-list {
      display: flex;
      height: 100%;
    }
    .nav-link {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 59px;

      &:hover {
        .icon {
          transition: all 0.5s;
          transform: rotate(180deg);
        }
      }
    }

    .depth2 {
      display: flex;
      gap: 150px;
      position: absolute;
      right: 0;
      left: 0;
      top: 60px;
      padding: 46px 230px;
      width: 100%;
      background: rgb(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
      border-bottom: 1px solid rgb(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .depth2-list {
      &:hover {
        transition: all 0.5s;
        border-bottom: 2px solid $primary;
      }
    }
  }

  .menu {
    display: none;

    @media screen and (max-width: 1280px) {
      display: flex;

      .icon {
        font-size: 30px;
        color: $txtDefult-w;
      }
    }
  }
}
//---------------------------------------------------------------------------------
#main {
  .sec-100 {
    height: 100vh;
  }

  .inner {
    height: 100%;
  }

  .inner-150 {
    padding: 150px 0;

    @media screen and (max-width: 1280px) {
      padding: 100px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 80px 0;
    }
  }

  .tit-wrap {
    @include tit;
    @media screen and (max-width: 768px) {
      text-align: center;
    }

    .gray {
      color: $txtDefult-sub1;
    }
  }

  @media screen and (max-width: 768px) {
    .pause-btn {
      bottom: 30px;
      width: 52px;
      height: 52px;
    }

    .btn-more {
      .btn-name {
        font-size: 14px;
      }

      .icon-box {
        width: 30px;
        height: 30px;
      }
    }
  }
}
//---------------------------------------------------------------------------------
.bottom-menu {
  background: $bg-w-op;
  border-top: 1px solid rgb(255, 255, 255, 0.3);

  .inner {
    display: flex;
    justify-content: space-between;
    gap: 132px;
    padding: 50px 0;

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      gap: 70px;
    }
    @media screen and (max-width: 768px) {
      gap: 50px;
    }
  }

  strong {
    @include bold16;
  }

  .icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;

    .fa-facebook {
      font-size: 26px;
      color: $txtDefult-w;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      background: $txtDefult-w;
    }

    .black {
      color: $bg;
    }
  }

  .menu {
    display: flex;
    gap: 70px;

    @media screen and (max-width: 1280px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;

      .flex {
        border-bottom: 1px solid rgb(255, 255, 255, 0.2);
        padding-bottom: 5px;
      }
    }

    .flex {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 1280px) {
        flex-direction: column;
      }
      @media screen and (max-width: 768px) {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
      }

      .icon {
        display: none;
        color: $txtDefult-w;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      li {
        padding-bottom: 10px;
        font-size: 14px;

        a {
          color: $txtDefult-sub1;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .display-n {
        display: none;
      }
    }
  }
}
//---------------------------------------------------------------------------------
#footer {
  font-size: 14px;
  @media screen and (max-width: 768px) {
    background: $bg-w-op;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  .flex {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .flex2 {
    display: flex;
    gap: 10px;
  }

  a {
    color: $txtDefult-w;
  }
}
//---------------------------------------------------------------------------------
@import "main";
