@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0 auto;
}
//---------------------------------------------------------------------------------
.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}
//---------------------------------------------------------------------------------
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  font-size: 14px;
  background: $bg;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  transition: all 0.3s;

  .inner {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 1280px) {
      max-width: 768px;
    }

    @media screen and (max-width: 768px) {
      max-width: 328px;
    }
  }

  .hd-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
  }

  .lg-img {
    display: flex;
    align-items: center;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .nav {
      display: flex;
      gap: 24px;
    }
    .nav-list {
      position: relative;
      display: flex;
      height: 100%;
    }
    .nav-link {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .depth2 {
      position: absolute;
      top: 60px;
      width: 200px;
      background: $bg;
    }

    .depth2-list {
      display: none;
    }
  }
}
//---------------------------------------------------------------------------------
#main {
  .sec-100 {
    height: 100vh;
  }

  .inner {
    height: 100%;
  }

  .inner-150 {
    padding: 150px 0;
  }

  .tit-wrap {
    @include tit;

    .gray {
      color: $txtDefult-sub1;
    }
  }
}
//---------------------------------------------------------------------------------
.bottom-menu {
  background: $bg-w-op;
  border-top: 1px solid rgb(255, 255, 255, 0.3);

  .inner {
    display: flex;
    justify-content: space-between;
    gap: 132px;
    padding: 50px 0;
  }

  strong {
    @include bold16;
  }

  .icons {
    display: flex;
    gap: 10px;
    padding-top: 20px;

    .fa-facebook {
      font-size: 26px;
      color: $txtDefult-w;
    }

    .box {
      text-align: center;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      background: $txtDefult-w;
    }

    .black {
      color: $bg;
    }
  }

  .menu {
    display: flex;
    gap: 70px;

    .flex {
      display: flex;
      gap: 30px;

      li {
        padding-bottom: 10px;
        font-size: 14px;

        a {
          color: $txtDefult-sub1;
        }
      }
    }
  }
}
//---------------------------------------------------------------------------------
#footer {
  font-size: 14px;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
  }

  .flex {
    display: flex;
    gap: 20px;
  }

  a {
    color: $txtDefult-w;
  }
}
//---------------------------------------------------------------------------------
@import "main";
